/* Variables */
:root {
  --background: hsl(0, 0%, 14%);
  --background-alt: hsla(0, 0%, 20%, 0.5);
  --border-accent: hsl(200, 100%, 50%);
  --text: hsl(0, 0%, 80%);
  --link: hsl(196, 77%, 35%);
  --link-visited: hsl(196, 77%, 35%);
  --link-active: hsl(196, 77%, 50%);
  --header-link: hsl(0, 0%, 71%);
  --header-link-active: hsl(0, 0%, 80%);
  --button-background: hsl(0, 0%, 5%);
  --button-text: hsl(0, 0%, 75%);
  --button-border: hsl(0, 0%, 50%);
  --button-background-active: hsl(0, 0%, 7%);
  --button-border-active: hsl(0, 0%, 50%);
  --form-focus: hsl(0, 0%, 20%);
}

@font-face {
  font-family: "Inter";
  src: url('/fonts/Inter-Regular.woff2') format('woff2'),
    url('/fonts/Inter-Regular.woff') format('woff');
  font-style: normal;
  font-weight: 400;
  font-display: swap
}


@font-face {
  font-family: "Inter";
  src: url('/fonts/Inter-Bold.woff2') format('woff2'),
    url('/fonts/Inter-Bold.woff') format('woff');
  font-style: normal;
  font-weight: 600;
  font-display: swap
}

/* Reset */
* {
  box-sizing: border-box
}

/* Common Elements */

a {
  color: var(--link);
}

a:visited {
  color: var(--link-visited);
}

a:hover {
  color: var(--link-active);
}

/* Top-level elements */
body {
  border-top: 3px solid var(--border-accent);
  background: var(--background);
  color: var(--text);
  display: flex;
  font-family: "Inter", system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Helvetica Neue', sans-serif;
  font-size: 16px;
  flex-direction: column;
  margin: 0;
  padding: 0;
}

header,
main,
footer {
  gap: 1.5em;
  margin: 0 auto;
}

.container {
  max-width: 960px;
  margin: 0 auto;
  padding: 0 1.5em;
}

header {
  padding: 1em 0;
}

header .header-top {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

header .header-left {
  align-items: center;
  display: flex;
  gap: 0.25em;
}

header .header-right {
  display: flex;
  justify-content: flex-end;
}

header .header-left div:nth-child(2) {
  align-self: flex-end;
}

header a,
header a:visited {
  color: var(--header-link);
  text-decoration: none;
}

header a:hover {
  color: var(--text);
}

header h1 {
  font-size: 100%;
  font-weight: bold;
  margin: 0;
  padding: 0.5em 0;
}

header h1 a:first-child {
  color: var(--border-accent);
}

header .search {
  border-radius: 5px;
  border-color: var(--border);
  border-width: 1px;
  font-size: inherit;
}

header nav {
  overflow-x: scroll;
}

header nav ul {
  display: flex;
  gap: 1em;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

header nav li {
  display: block;
  padding: 0.5em 0;
}

header nav li:hover {
  cursor: pointer;
}

header nav a:hover {
  color: var(--header-link-active);
}

main {
  line-height: 1.5em;
}

footer {
  display: flex;
  gap: 3em;
  justify-content: center;
  padding: 1em 0;
}

/* Forms / Input / etc */
input,
button,
textarea {
  background-color: var(--background-alt);
  border: 1px solid var(--button-border);
  border-radius: 5px;
  font-size: inherit;
  padding: 0.2em 0.5em;
}

button,
input[type=submit] {
  color: var(--button-text);
  background-color: var(--button-background);
  border: 1px solid var(--button-border);
}

button:hover,
input[type=submit]:hover {
  transform: translateY(-0.5px);
  background-color: var(--button-background-active);
  border: 1px solid var(--button-border-active);
}

button,
input[type=submit] {
  cursor: pointer;
}

.button-group {
  display: flex;
  gap: 1em;
}

form {
  display: flex;
  gap: 0.5em;
  cursor: pointer;
}

input,
textarea {
  color: var(--text);
}

input[type=text]:focus,
textarea:focus {
  background-color: var(--form-focus);
}

textarea {
  max-width: 100%;
}

label {
  display: flex;
  gap: 0.5em;
  cursor: pointer;
  max-width: 100%;
}
